body.role-advertiser form#your-profile h2,
body.role-advertiser form#your-profile .form-table,
body.role-advertiser form#your-profile .form-table:nth-child(9) tr,
body.role-advertiser form#your-profile .user-sessions-wrap {
    display: none;
}

body.role-advertiser form#your-profile .form-table:nth-child(9),
body.role-advertiser form#your-profile .form-table:nth-child(9) .user-email-wrap,
body.role-advertiser form#your-profile .form-table:nth-child(13) {
    display: block;
}

#adv-dashboard_wrapper {
    margin-top: 30px;
}

#adv-dashboard_wrapper #adv-dashboard_length select {
    background-color: #fff;
    width: 100px;
}

#adv-dashboard_filter input {
    background-color: #fff;
}

.adv-create-ad .adv-headings,
.adv-create-ad input[type="text"] {
    display: inline-block;
}

.adv-create-ad .form-fields {
    margin-top: 20px;
    width: 100%;
}

.adv-create-ad .form-fields input[type="text"] {
    width: 300px;
}

.adv_admin_edit .adv-headings,
.adv_admin_edit .form-fields p {
    display: inline;
}

.adv_admin_edit .adv-headings,
.adv_admin_edit .form-fields {
    margin-top: 20px;
}

.adv_admin_edit .form-fields p {
    font-size: 20px;
    padding: 10px 10px 10px 10px;
}

.adv-create-ad h3 {
    margin: 25px 0 5px 0;
}

.adv-create-ad .btn {
    margin: 5px 0 10px 0;
}

.adv-create-ad .url {
    margin: 0 0 30px 0;
}


/*new css as per new add form add*/
.adv-create-ad .adv-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.adv-create-ad .advertise-add {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    width: 25%
}

.adv-create-ad .advertise-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.adv-create-ad .advertise-form .center-form {
    width: 520px
}

.adv-create-ad .advertise-form .form-adver {
    margin-top: 30px
}

.adv-create-ad .advertise-form .form-adver h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0
}

.adv-create-ad .advertise-form .form-adver .form-fields {
    margin-top: 5px
}

.adv-create-ad .advertise-form .form-adver .form-fields input[type="text"],
.adv-create-ad .advertise-form .form-adver .form-fields textarea,
.adv-create-ad .advertise-form .form-adver .form-fields input[type="date"] {
    width: 100%
}

.adv-create-ad .advertise-form .form-adver .form-fields textarea {
    height: 150px
}

.adv-create-ad .advertise-form .form-adver .form-fields .add-more {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0 none;
    background: none;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 14px;
    padding: 0;
    text-decoration: none;
    color: #000;
}

.adv-create-ad .advertise-form .form-adver .form-fields .add-more .plus {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    height: 18px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1;
    margin-right: 10px;
    position: relative;
    width: 18px
}

.adv-create-ad .advertise-form .form-adver .form-fields .add-more .plus:before {
    content: '';
    background: #000;
    height: 10px;
    left: 50%;
    margin-left: -1px;
    position: absolute;
    width: 2px
}

.adv-create-ad .advertise-form .form-adver .form-fields .add-more .plus:after {
    background: #000;
    content: '';
    height: 10px;
    left: 50%;
    margin-left: -1px;
    position: absolute;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 2px
}
.adv-create-ad .warning{
    color: red;
}