#adv-dashboard_wrapper{
    margin-top: 30px;
}
#adv-dashboard_wrapper #adv-dashboard_length select {
    background-color:#fff ;
    width:100px;
}

#adv-dashboard_filter input{
    background-color:#fff;
}

.adv-create-ad .adv-headings, .adv-create-ad input[type="text"]{
    display: inline-block;
}
.adv-create-ad .form-fields{
    margin-top: 20px;
    width: 100%;
}

.adv-create-ad .form-fields input[type="text"]{
    width:300px;
}

.adv_admin_edit .adv-headings, .adv_admin_edit .form-fields p{
    display: inline;
}

.adv_admin_edit .adv-headings, .adv_admin_edit .form-fields{
    margin-top: 20px;
}
.adv_admin_edit .form-fields p{
    font-size: 20px;
    padding:10px 10px 10px 10px;
}